<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Simple Map</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <app-map-tools></app-map-tools>
  <div id="map" class="map"></div>
  <script src="index.js"></script>
  <form class="form-inline">
    <button type="button" class="btn btn-primary" (click)="addInteractions()">Add Highway</button>
    <button type="button" class="btn btn-primary" (click)="deleteHighway()">Delete Highway</button>
    <!-- <button type="button" class="btn btn-primary" (click)="getAllHighways()">View All Highways</button> -->
  </form>
  <ng-sidebar-container class="sidebar">
    <ng-sidebar class="sidebar-button" position="right" mode="over" [(opened)]="opened">
      <p class="header" >Your Hedgehog Highway</p>
      <p class="steps" >Step 1: Add your highway to the map</p>
      <p class="steps" >Step 2: Name your highway</p>
      <form class="highway-form">
        <p>Name:</p>
        <input type="text" name="name" [(ngModel)]="name">
      </form>
      <button type="button" class="btn btn-primary" (click)="saveHighway()">Save Highway</button>
      <ngb-alert *ngIf="highwaySaved" [dismissible]="false" type="success">
        Highway Saved Successfully!
      </ngb-alert>
    </ng-sidebar>
  </ng-sidebar-container>
</body>
</html>
