<div id="toolbar">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
    <div class="btn-group" role="group" aria-label="Navigation tools">
      <!-- <button type="button" class="btn btn-primary" (click)="zoomPrevious()" title="Zoom previous">
        <i class="fa fa-chevron-left fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="zoomNext()" title="Zoom next">
        <i class="fa fa-chevron-right fa-lg"></i>
      </button> -->
      <button type="button" class="btn btn-primary" (click)="zoomIn()" title="Zoom in">
        <i class="fa fa-search-plus fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="zoomOut()" title="Zoom out">
        <i class="fa fa-search-minus fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="zoomToExtent()" title="Zoom to extent">
        <i class="fa fa-expand-arrows-alt fa-lg"></i>
      </button>
      <button type="button" class="btn btn-primary" (click)="identify()" title="Identify">
        <i class="fa fa-info-circle fa-lg"></i>
      </button>
    </div>
  </div>
</div>
